.bookContainer {
  margin-top: 20px;
  margin-bottom: 185px;
}

.backButton {
  position: absolute;
  top: 16px;
  left: 16px;
  cursor: pointer;
  padding: 8px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.backIcon {
  width: 24px;
  height: 24px;
  color: #000000;
}

.bookTitle {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0%;
  color: rgba(49, 48, 55, 1);
  text-align: center;
  margin-bottom: 24px;
}

.bookImageContainer {
  width: 544px;
  height: 472px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 24px;
}

.bookImage {
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.bookmarkButton {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  font-size: 24px;
  color: rgba(168, 168, 168, 1);
  cursor: pointer;
  transition: color 0.3s;
}

.bookmarkButton:hover {
  color: rgba(49, 48, 55, 1);
}

.bookInfo {
  margin-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bookPrice {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0%;
  color: rgba(49, 48, 55, 1);
}

.bookRating {
  display: flex;
  gap: 4px;
}

.star {
  font-size: 24px;
}

.infoLabel {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(168, 168, 168, 1);
}

.infoValue {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
}

.addToCartButton {
  width: 448px;
  height: 56px;
  background: rgba(49, 48, 55, 1);
  border: none;
  border-radius: 0;
  color: rgba(255, 255, 255, 1);
  font-family: "Bebas Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 5%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 59px;
}

.addToCartButton:hover {
  background-color: rgba(39, 38, 45, 1);
}

.descriptionSection {
  margin-top: 73px;
}

.descriptionTitle {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgba(49, 48, 55, 1);
  margin-bottom: 16px;
}

.descriptionText {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
  color: rgba(49, 48, 55, 1);
  margin-bottom: 144px;
}
